/* Reset de estilos para normalizar comportamientos en distintos navegadores */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #007bff; /* Azul brillante */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Contenedor de Sitios de Interés */
.sitio {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fondo blanco para distinguir */
}

.sitio h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff; /* Azul brillante */
}

.sitio img {
    width: 20%; /* Ajustado a 80% para reducir el ancho */
    max-height: 120px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

/* Contenedor de Atractivos */
.atractivo {
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #f5f5f5; /* Fondo gris claro para distinguir */
}

.atractivo h4 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.atractivo p {
    font-size: 14px;
    color: #777;
}

/* Footer */
footer {
    background-color: #007bff; /* Azul brillante */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Cotización */
.cotizacion {
    position: fixed;
    background-color: #b6d7ee;
    color: #99ff00;
    padding: 10px;
    border-radius: 8px;
}
