        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        section {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        /* Estilos de enlaces */
        a {
            color: #007acc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        /* Estilos del footer */
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .cotizacion {
            position: fixed;
            background-color: #b6d7ee;
            color: rgb(153, 255, 0);
            padding: 10px;
            border-radius: 5px;
        }